.feature-wrapper-home {
  text-align: center;
}

.feature-title-home,
.feature-title-browse {
  color: white;
  max-width: 640px;
  font-size: 50px;
  font-weight: 700;
  margin: auto;
}

@media (max-width: 550px) {
  .feature-title-home {
    font-size: 30px;
  }
}