.header-wrapper-home {
  background: url("../../../public/images/misc/home-bg.jpg");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 50px;
}

.navbar-home {
  max-width: 1850px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 175px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-right {
  display: flex;
  align-items: center;
}

@media (max-width: 550px) {
  .navbar-home {
    margin-bottom: 100px;
  }
  .header-wrapper-home{
    padding: 15px 25px;
  }
}


@media only screen and (max-width: 600px) {
  .logo {
    height: 60px;
    width: 108px;
  }
}

.logo {
  height: 30px;
  width: 108px;
}

.signin-button {
  display: block;
  background-color: #e50914;
  width: 84px;
  height: fit-content;
  color: #fff;
  border: 0;
  font-size: 15px;
  border-radius: 3px;
  padding: 8px 17px;
  cursor: pointer;
  margin-left: 20px;
}
select {
  position: relative;
  background: transparent;
  color: white;
  appearance: none;
  padding: 10px 14px;
  text-align: center;
  display: flex;
  border: .5px solid white;
}

.select-wrapper{
  position: relative;
  width: max-content;
}

.select-pseudo::before {
  color: white;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  position: absolute;
  top: 33%;
  left: 7%;
  font-size: 12px;
}

.select-pseudo::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0ac";
}
.select-pseudo::after {
  color: white;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  position: absolute;
  top: 38%;
  right: 12%;
  font-size: 8px;
  transform: rotate(90deg);
}

.select-pseudo::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f04b";
}




